NASA_Solarflare_Data.json
{
  "name": "NASA_Solarflare_Data",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a57298fe-280d-4dbf-bbfe-154c18e59b3c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "donkiSolarFlare",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "dc870188-63eb-42ee-bc45-3166e6e45937",
      "name": "Get a DONKI solar flare",
      "credentials": {
        "nasaApi": {
          "id": "1JfsLffWKGz53NKA",
          "name": "NASA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6138c28-3451-459b-b4c0-885374e3b568",
              "leftValue": "={{ $json.classType }}",
              "rightValue": "C",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "1a15d929-425c-45db-bc03-a7f542a03089",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1760145823903-8660439555533",
        "binContent": "=There was a solar flare of class\n{{ $json.classType }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "2421e74a-8a1d-461f-9f2d-35677250faac",
      "name": "Send a request"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1760145823903-8660439555533",
        "binContent": "=There was a solar flare of class\n{{ $json.classType }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        640,
        80
      ],
      "id": "688e187e-b4b4-4a81-aa3b-a3af7ef3a5fd",
      "name": "Send a request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a DONKI solar flare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a DONKI solar flare": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60f94fd5-a0c9-4105-93be-a785c4f23f7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e3b7265c64d25f683c122f4c7796796b50cd4348925b7ea3f7e1226d9e6a602"
  },
  "id": "waWkQopQR1Gyza2M",
  "tags": []
}