Real World Level 1 Task.json
{
  "name": "Real World Level 1 Task",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f0c3afdd-9a55-4277-8ea9-293c43de0480",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id ",
              "value": "d1be23f4fa19200533593f25c0226647"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "326fba95-547d-4cf8-aa8a-4980dcbfca58",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gzHbubyoEuZ1dwuR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appEfvuzdfP0eMd7H",
          "mode": "list",
          "cachedResultName": "Real_level_1",
          "cachedResultUrl": "https://airtable.com/appEfvuzdfP0eMd7H"
        },
        "table": {
          "__rl": true,
          "value": "tbldxIvc0x9psxSPP",
          "mode": "list",
          "cachedResultName": "sales_team_data",
          "cachedResultUrl": "https://airtable.com/appEfvuzdfP0eMd7H/tbldxIvc0x9psxSPP"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        928,
        -128
      ],
      "id": "98e99faf-b2c6-410e-8cf5-9d9eec604e40",
      "name": "Create a record",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "Du3zj18nqRo7Hb3l",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b2d9203-8105-4df1-ba3d-6a745021fccd",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "7860aab8-8fd9-47e8-8c6f-284ffeb81338",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a33b8b6e-b49f-4acd-b253-37fb602886af",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "7820a29e-214e-4d0c-b62f-425c71a2dc21",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -128
      ],
      "id": "835cde61-d02f-4117-bfd1-0bbc7cc3f32f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        112
      ],
      "id": "5b857483-4063-46f2-81da-d13bcd57b269",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        928,
        112
      ],
      "id": "e85751ff-8b70-4a5f-9116-1e8fe3cf7913",
      "name": "Discord",
      "webhookId": "95651dd0-68b4-4c9e-909b-2dc6addde533",
      "credentials": {
        "discordWebhookApi": {
          "id": "xD6KqZtZ2GvVs8FJ",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5efa45e0-4f54-4226-80a9-0ca7f99e40c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e3b7265c64d25f683c122f4c7796796b50cd4348925b7ea3f7e1226d9e6a602"
  },
  "id": "wPdWw5iykTZZiQAo",
  "tags": []
}